div img {
    display: block;
    max-width: 100%;
}

.container {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1370px;
    margin: auto;
}

.slider .item {
    position: relative;
/*    max-height: 80vh;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.slider .img-box {
    width: 33.33%;
    padding: 12px;
}

.slider .img-box img {
    width: 100%;
    position: relative;
    z-index: 1;
}

.caption {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    position: absolute;
    left: 50%; top: 50%;
    margin-left: -150px;
    margin-top: -50px;
    width: 300px;
    height: 100px;
    opacity: 0;
    font-size: 1.1rem;
    font-weight: 400;
    color: darkslategrey;
    transform: translateY(-200%);
    z-index: 0;
}

.item:hover .img-box {
    opacity: .5;
}

.item .img-box:hover {
    opacity: 1;
    cursor: pointer;
}

.img-box:hover>.caption {
    z-index: 9;
    opacity: 1;
    transform: translateY(0);
    transition: opacity, transform .3s ease;
}

.caption h3 {
    font-size: 2rem;
    margin-bottom: .5em;
    text-transform: lowercase;
    letter-spacing: .1em;
    font-weight: 700;
    text-align: center;
}

@media screen and (max-width:768px) and (orientation: portrait) {

    .slider .img-box {
        width: 50%;
        padding: 7px;
    }

}

